<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="header_3">
    <div class="header__text">
      <h1>Помоги планете </h1>
      <p>Сделай первый шаг к изменеию климата!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Как предотвратить глобально потепление:</h2>
    <p class="p_2">Для предотвращения глобального потепления необходимо предпринять комплексные меры на индивидуальном, национальном и международном уровнях. Вот некоторые из ключевых стратегий:</p>
            <h3 class="p_3">Снижение выбросов парниковых газов</h3>
            <ul>
                <li class="p_2"><strong class="p_2">Переход на возобновляемые источники энергии:</strong> Использование солнечной, ветровой, гидро- и геотермальной энергии вместо ископаемого топлива.</li>
                <li class="p_2"><strong>Повышение энергоэффективности:</strong> Внедрение энергосберегающих технологий в промышленности, транспорте и бытовом секторе.</li>
                <li class="p_2"><strong>Развитие общественного транспорта:</strong> Снижение зависимости от личного автотранспорта путем улучшения общественного транспорта и инфраструктуры для велосипедов и пеших прогулок.</li>
                <li class="p_2"><strong>Сокращение вырубки лесов:</strong> Защита и восстановление лесов, которые поглощают углекислый газ из атмосферы.</li>
                <li class="p_3"><strong>Уменьшение метановых выбросов:</strong> Улучшение управления отходами и снижение выбросов метана из сельского хозяйства и добычи полезных ископаемых.</li>
            </ul>
            <h3 class="p_2">Устойчивое сельское хозяйство</h3>
            <ul>
                <li class="p_2">Внедрение агроэкологических методов, которые уменьшают выбросы парниковых газов и улучшают поглощение углерода почвой.</li>
                <li class="p_2">Сокращение использования азотных удобрений, которые способствуют выбросам закиси азота.</li>
                <li class="p_3">Продвижение вегетарианства и уменьшение потребления мяса, что снижает метановые выбросы от животноводства.</li>
            </ul>
            <h3 class="p_2">Политические и экономические меры</h3>
            <ul>
                <li class="p_2">Внедрение углеродного налога или системы торговли выбросами, чтобы стимулировать снижение выбросов парниковых газов.</li>
                <li class="p_2">Поддержка научных исследований и инноваций в области чистых технологий и адаптации к изменениям климата.</li>
                <li class="p_3">Международное сотрудничество и выполнение обязательств по соглашениям, таким как Парижское соглашение.</li>
            </ul>
            <h3 class="p_2">Образование и повышение осведомленности</h3>
            <ul>
                <li class="p_2">Повышение осведомленности общественности о причинах и последствиях глобального потепления.</li>
                <li class="p_2">Образование и привлечение молодежи к экологическим инициативам и проектам.</li>
                <li class="p_3">Поддержка и распространение информации о лучших практиках и технологиях для снижения углеродного следа.</li>
            </ul>
            <p>Сочетание этих мер может значительно замедлить темпы глобального потепления и помочь адаптироваться к уже неизбежным изменениям климата. Каждый человек и организация могут внести свой вклад в борьбу с изменением климата, следуя принципам устойчивого развития и экологической ответственности.</p>
        
    <ul class="list" id="list">
      <!-- Задание №3 -->
      
     
      
      <!--  -->
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
