<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="header2">
    <div class="header__text">
      <h1>Узнай что такое глобальное потепление</h1>
      <p>Какие могут быть последствия и подумай как их решить</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">
      Что такое глобальное потепление? причины и последсвия

      </h2>
      <p class ="p_1">Глобальное потепление – это долгосрочное повышение средней температуры атмосферы Земли и мирового океана. Этот процесс наблюдается с конца 19 века и продолжает ускоряться в последние десятилетия. Глобальное потепление связано с изменениями климата, которые могут приводить к экстремальным погодным условиям, таким как ураганы, наводнения, засухи, а также к повышению уровня моря и негативному воздействию на экосистемы и биоразнообразие.</p>
            <p class="p_1">Основным показателем глобального потепления является рост средней глобальной температуры. Согласно данным Межправительственной группы экспертов по изменению климата (МГЭИК), средняя глобальная температура уже повысилась на 1,1 градуса Цельсия по сравнению с доиндустриальным уровнем. Это повышение температуры оказывает значительное влияние на природные системы и общество.

            </p>
            <p class="image-center"> 

            </p>
            
            
              <h2 class="p_1">Почему возникает глобальное потепление?</h2>

              <p class="p_1">Основной причиной глобального потепления является увеличение концентрации парниковых газов в атмосфере. Эти газы включают углекислый газ (CO<sub>2</sub>), метан (CH<sub>4</sub>), закись азота (N<sub>2</sub>O) и фторсодержащие газы. Парниковые газы создают эффект парника, задерживая тепло, которое Земля излучает в космос, и возвращая его обратно на поверхность. Это приводит к общему увеличению температуры планеты.</p>
              <b class="p_2">Рост концентрации парниковых газов в основном вызван человеческой деятельностью, такой как:

              </b>
              <ul>
                  <li class="p_2">Сжигание ископаемого топлива (нефть, уголь, природный газ) для производства энергии и транспорта, что приводит к выбросам углекислого газа.</li>
                  <li class="p_2">Вырубка лесов, которые поглощают углекислый газ из атмосферы, что уменьшает способность планеты поглощать CO<sub>2</sub>.</li>
                  <li class="p_2">Сельское хозяйство, которое производит метан через скотоводство (особенно крупный рогатый скот) и рисоводство.</li>
                  <li class="p_2">Промышленные процессы, которые выделяют различные парниковые газы, включая фторсодержащие газы, используемые в холодильниках и кондиционерах.</li>
                  <p class="p_1"> </p>
                </ul>
              <p class="p_1">Эти действия приводят к накоплению парниковых газов в атмосфере, что усиливает парниковый эффект и вызывает потепление. Естественные факторы, такие как изменения солнечной активности и вулканическая активность, также могут влиять на климат, но их воздействие значительно меньше по сравнению с влиянием антропогенных (человеческих) факторов.</p>
              <h2 class="main__title">Последствия глобального потепления включают:</h2>
              <ul>
                  <li class="p_2">Повышение уровня моря из-за таяния ледников и расширения морской воды при нагревании.</li>
                  <li class="p_2">Изменение климатических зон, что может приводить к изменению сельскохозяйственных условий и уменьшению урожаев.</li>
                  <li class="p_2">Увеличение частоты и интенсивности экстремальных погодных явлений, таких как ураганы, наводнения и засухи.</li>
                  <li class="p_2">Угрозу для биоразнообразия, так как многие виды не успевают адаптироваться к быстро меняющимся условиям.</li>
                  <li class="p_2">Воздействие на здоровье человека, включая увеличение случаев тепловых ударов, распространение тропических заболеваний и ухудшение качества воздуха.</li>
              </ul>
              
    <ul class="list" id="list">
    
      <!--Задание №2 -->
      <li class="list__item">
        <a href={{size + "/7" }}> 
          <img class="item__img" src="../static/img/light.svg" alt="light">
          <span>как предотвратить глобальное потепление</span></a>
      </li>
      
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
